# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env

# Virtual Environment
venv/
.venv/
env/

# Database and local vector data
data/
*.sqlite3

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
